<div class="container">
  <h1>Cheep</h1>
  <h5>A CableReady &amp; StimulusReflex demo</h5>
  <%= render "form" %>

  <div id="timeline">
    <%= render partial: "post", collection: @posts %>
  </div>
</div>

